## Import các thư viện

In [15]:
import pandas as pd
from sklearn import preprocessing

# Phần 1

In [16]:
df= pd.read_csv(r"/home/duongdz/Documents/Duong/Git/2022-2026/Nam3/Fruit Dataset.txt", sep='\t')
df.head(10)

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79
5            2   mandarin      mandarin    80    5.8     4.3         0.77
6            2   mandarin      mandarin    80    5.9     4.3         0.81
7            2   mandarin      mandarin    76    5.8     4.0         0.81
8            1      apple      braeburn   178    7.1     7.8         0.92
9            1      apple      braeburn   172    7.4     7.0         0.89

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fruit_label    59 non-null     int64
 1   fruit_name     59 non-null     object
 2   fruit_subtype  59 non-null     object
 3   mass           59 non-null     int64
 4   width          59 non-null     float64
 5   height         59 non-null     float64
 6   color_score    59 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.4+ KB

DataFrame có 59 dòng và 7 cột

In [18]:
df.columns

Index(['fruit_label', 'fruit_name', 'fruit_subtype', 'mass', 'width', 'height',
       'color_score'],
      dtype='object')

In [19]:
df.describe() # Thống kê

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [20]:
list_min_max =['mass', 'width', 'height', 'color_score']
for column in list_min_max:
    print(f"Dòng chứa max của côt {column} là\n {df[df[column] == df[column].max()]}")

Dòng chứa max của côt mass là
     fruit_label fruit_name  fruit_subtype  mass  width  height  color_score
26            3     orange  spanish_jumbo   362    9.6     9.2         0.74
Dòng chứa max của côt width là
     fruit_label fruit_name  fruit_subtype  mass  width  height  color_score
26            3     orange  spanish_jumbo   362    9.6     9.2         0.74
Dòng chứa max của côt height là
     fruit_label fruit_name   fruit_subtype  mass  width  height  color_score
44            4      lemon  spanish_belsan   200    7.3    10.5         0.72
Dòng chứa max của côt color_score là
     fruit_label fruit_name fruit_subtype  mass  width  height  color_score
10            1      apple      braeburn   166    6.9     7.3         0.93

In [21]:
for column in list_min_max:
    print(f"Dòng chứa min của côt {column} là\n {df[df[column] == df[column].min()]}")

Dòng chứa min của côt mass là
    fruit_label fruit_name fruit_subtype  mass  width  height  color_score
7            2   mandarin      mandarin    76    5.8     4.0         0.81
Dòng chứa min của côt width là
     fruit_label fruit_name fruit_subtype  mass  width  height  color_score
5             2   mandarin      mandarin    80    5.8     4.3         0.77
7             2   mandarin      mandarin    76    5.8     4.0         0.81
49            4      lemon       unknown   132    5.8     8.7         0.73
Dòng chứa min của côt height là
    fruit_label fruit_name fruit_subtype  mass  width  height  color_score
7            2   mandarin      mandarin    76    5.8     4.0         0.81
Dòng chứa min của côt color_score là
    fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55

In [22]:
Q1= df['mass'].quantile(0.25)
Q3= df['mass'].quantile(0.75)
df[(df['mass'] >= Q1) & (df['mass'] <= Q3)]

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
2             1      apple      granny_smith   176    7.4     7.2         0.60
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
32            3     orange  selected_seconds   164    7.2     7.0         0.80
34            3     orange      turkey_navel   142    7.6     7.8         0.75
35            3     orange      turkey_navel   150    7.1     7.9         0.75
36            3     orange      turkey_navel   160    7.1     7.6         0.76
37            3     orange      turkey_navel   154    7.3     7.3         0.79
38            3     orange      turkey_navel   158    7.2     7.8         0.77
39            3     orange      turkey_navel   144    6.8     7.4         0.75
40            3     orange      turkey_navel   154    7.1     7.5         0.78
42            3     orange      turkey_navel   154    7.2     7.2         0.82
48            4      lemon    spanish_belsan   174    7.3    10.1         0.72
57            4      lemon           unknown   152    6.5     8.5         0.72

In [23]:
min_man_fruit=df.groupby('fruit_name')['color_score'].agg(['min', 'max']).reset_index()
min_man_fruit

  fruit_name   min   max
0      apple  0.55  0.93
1      lemon  0.70  0.74
2   mandarin  0.77  0.81
3     orange  0.72  0.82

In [24]:
mean_std_fruit= df.groupby('fruit_name')['color_score'].agg(['mean', 'std']).reset_index()
mean_std_fruit

  fruit_name      mean       std
0      apple  0.783684  0.124196
1      lemon  0.718125  0.010468
2   mandarin  0.796000  0.016733
3     orange  0.771053  0.029039

In [26]:
label= preprocessing.LabelEncoder()
df['fruit_subtype'] = label.fit_transform(df['fruit_subtype'])

df_new = df[['mass','width','height','color_score','fruit_subtype','fruit_name']]
df_new

    mass  width  height  color_score  fruit_subtype fruit_name
0    192    8.4     7.3         0.55              3      apple
1    180    8.0     6.8         0.59              3      apple
2    176    7.4     7.2         0.60              3      apple
3     86    6.2     4.7         0.80              4   mandarin
4     84    6.0     4.6         0.79              4   mandarin
5     80    5.8     4.3         0.77              4   mandarin
6     80    5.9     4.3         0.81              4   mandarin
7     76    5.8     4.0         0.81              4   mandarin
8    178    7.1     7.8         0.92              0      apple
9    172    7.4     7.0         0.89              0      apple
10   166    6.9     7.3         0.93              0      apple
11   172    7.1     7.6         0.92              0      apple
12   154    7.0     7.1         0.88              0      apple
13   164    7.3     7.7         0.70              2      apple
14   152    7.6     7.3         0.69              2      apple
15   156    7.7     7.1         0.69              2      apple
16   156    7.6     7.5         0.67              2      apple
17   168    7.5     7.6         0.73              2      apple
18   162    7.5     7.1         0.83              1      apple
19   162    7.4     7.2         0.85              1      apple
20   160    7.5     7.5         0.86              1      apple
21   156    7.4     7.4         0.84              1      apple
22   140    7.3     7.1         0.87              1      apple
23   170    7.6     7.9         0.88              1      apple
24   342    9.0     9.4         0.75              7     orange
25   356    9.2     9.2         0.75              7     orange
26   362    9.6     9.2         0.74              7     orange
27   204    7.5     9.2         0.77              5     orange
28   140    6.7     7.1         0.72              5     orange
29   160    7.0     7.4         0.81              5     orange
30   158    7.1     7.5         0.79              5     orange
31   210    7.8     8.0         0.82              5     orange
32   164    7.2     7.0         0.80              5     orange
33   190    7.5     8.1         0.74              8     orange
34   142    7.6     7.8         0.75              8     orange
35   150    7.1     7.9         0.75              8     orange
36   160    7.1     7.6         0.76              8     orange
37   154    7.3     7.3         0.79              8     orange
38   158    7.2     7.8         0.77              8     orange
39   144    6.8     7.4         0.75              8     orange
40   154    7.1     7.5         0.78              8     orange
41   180    7.6     8.2         0.79              8     orange
42   154    7.2     7.2         0.82              8     orange
43   194    7.2    10.3         0.70              6      lemon
44   200    7.3    10.5         0.72              6      lemon
45   186    7.2     9.2         0.72              6      lemon
46   216    7.3    10.2         0.71              6      lemon
47   196    7.3     9.7         0.72              6      lemon
48   174    7.3    10.1         0.72              6      lemon
49   132    5.8     8.7         0.73              9      lemon
50   130    6.0     8.2         0.71              9      lemon
51   116    6.0     7.5         0.72              9      lemon
52   118    5.9     8.0         0.72              9      lemon
53   120    6.0     8.4         0.74              9      lemon
54   116    6.1     8.5         0.71              9      lemon
55   116    6.3     7.7         0.72              9      lemon
56   116    5.9     8.1         0.73              9      lemon
57   152    6.5     8.5         0.72              9      lemon
58   118    6.1     8.1         0.70              9      lemon